<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SSH_CMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 配置ContextLoadListener listener是可以监听容器的启动和销毁的
  	   ContextLoadListener有类似初始化bean容器的代码
  	     在启动tomcat的时候初始化bean容器
  	    类似
  	   new ClassPathXmlApplicationContext("applicationContext.xml");
 -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!--  ContextLoaderListener继承ContextLoader,会读取contextConfigLocation，
  		获取applicationContext.xml的配置
  		new ClassPathXmlApplicationContext("applicationContext.xml");
  		如果不加context-param配置，applicationContext.xml必须写到web-inf目录下
  		classpath:代表source文件夹
    -->
  <context-param>
    <!-- contextConfigLocation写死，和ContextLoader属性的值对应 -->
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  
  
  <!-- session过滤器 -->
    <filter>
     <filter-name>OpenSessionInViewFilter</filter-name>
     <filter-class>
       org.springframework.orm.hibernate5.support.OpenSessionInViewFilter
     </filter-class>    
  </filter>
  <filter-mapping>
     <filter-name>OpenSessionInViewFilter</filter-name>
     <url-pattern>*.action</url-pattern>
  </filter-mapping>
  
  
  
  <!-- 想让struts2起作用,必须配置过滤器 -->
	<filter>
  <filter-name>Sturts2</filter-name>
  <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>Sturts2</filter-name>
  <url-pattern>/*</url-pattern>
  </filter-mapping>
  

</web-app>